.menu-spacer {
    flex: 1 1 auto;
  }

.main-content{

    // line-height:calc(100vh - 100px);
    // width: calc(100vw - 25px);
    margin: 10px;
    // text-align: center;
}
.mat-drawer-container{
    
    height: 100%;
}

.logo{
    text-decoration: none;
    color: white;
    align-items: center;
    vertical-align: middle;
}

.navigation{
    width: 250px;
}