<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <a class="logo" href="/">
      <span>Rollbard
        <!-- <img src="assets/dice.svg" alt="logo" height="20px" /> -->
      </span></a>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav class="navigation">
    <mat-nav-list>
      <!-- This needs to be fixed -->
      <a *ngFor="let route of routes" [routerLink]="route.path" mat-list-item (click)="sidenav.toggle()">
        {{ route.data && route.data['title'] }}
      </a> 
   
      <!-- <a href="/home" mat-list-item>Home</a>
      <a href="/terra-machina" mat-list-item>Terra Machina</a>
      <a href="/character-roller" mat-list-item>Character Roller</a> -->
      <!-- <a href="/zumaroeth" mat-list-item>Zumaroeth</a> -->
      <!-- <a href="#" mat-list-item>Menu Item 3</a>
      <a href="#" mat-list-item>Menu Item 4</a>
      <a href="#" mat-list-item>Menu Item 5</a>
      <a href="#" mat-list-item>Menu Item 6</a> -->

      <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>