<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="logo" href="/">
      <span>Rollbard
        <!-- <img src="assets/dice.svg" alt="logo" height="20px" /> -->
      </span></a>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav class="navigation">
    <mat-nav-list>
      <!-- This needs to be fixed -->
      <a *ngFor="let route of routes" [routerLink]="route.path" mat-list-item (click)="sidenav.toggle()">
        {{ route.data && route.data['title'] }}
      </a>

    <app-auth-button></app-auth-button>

      <a (click)="sidenav.toggle()" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
