<mat-card>
  <mat-card-header>
    <mat-card-title>Welcome to Rollbard</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>I'm Anthony. I'm a software developer who has a passion for tabletop roleplaying games worldbuilding.
      Ideally, this site is meant to be a hub for tabletop roleplaying game worldbuilding tools. But,
      ultimately, it's just going to be a dumping ground for all my side projects and weird ideas. That
      being said, if you find something useful here, great! If not, oh well, thanks for visiting anyways.</p>
  </mat-card-content>
  <mat-card-actions>
<!--    <button mat-button color="secondary" routerLink="/plot-roller">-->
<!--      <mat-icon>book</mat-icon>-->
<!--      Plot Roller-->
<!--    </button>-->
    <button mat-button color="secondary" routerLink="/character-roller">
      <mat-icon>people</mat-icon>
      Character Roller
    </button>
<!--    <button mat-button color="secondary" routerLink="/world-roller">-->
<!--      <mat-icon>public</mat-icon>-->
<!--      World Roller-->
<!--    </button>-->
  </mat-card-actions>
</mat-card>
